.red{
    background-colour:blue;
    width : 100px;
    height: 100px;
  }
  .blue{
    background-colour:blue;
    width : 100px;
    height: 100px;
  }
  .yellow{
    background-colour:yellow;
    width : 100px;
    height: 100px;
  }