body{
    margin: 0%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    color : #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;    
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
.contact-message-text{
    width: 30%;
    margin: 50px auto 50px;

}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
 }
 .middle-container{
 }
 .bottom-container{
     background-color:#66BFBF;
     padding :50px 0 20px;
 }
 .computerimage{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chilliesimage{
    width: 25%;
    float: right;
    margin-left: 30px ;
}
 .bottom-cloud{
     position: absolute;
     left:300px;
     bottom: 300px;
 }
 .upper-cloud{
     position: absolute;
     right: 300px;
     top:50px;
 }
 .footer-link{
     color:#11999E;
 }
 .subhead{
     font-weight: normal;
 }
 .skill-row{
     width:50% ;
     margin: 100px auto;
     text-align: left;
     line-height: 2;
     padding-bottom: 50px;
 }


